/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* all */

*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}


/* header */
header{
    text-align: center;
    background: #18ac69;
    width: 100%;
    height: 129px;
    border-bottom: 3px solid #24704d;
    border-bottom: 4px solid #092719;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.title{
    color: aliceblue;
}

/* footer */
footer{
    background-color: #202020;
    position:fixed;
    bottom:0px;
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    color:aliceblue;
}