/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* all */
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255 255 255);
    background: linear-gradient(to top left, #FFFFFF, #87CEEB);
    height: 100%;
}



/* header */
header{
    text-align: center;
    background: #18ac69;
    width: 100%;
    height: 129px;
    border-bottom: 4px solid #092719;
    border-bottom: 4px solid #26895c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.title{
    color: aliceblue;
}


.contact{
    color:aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

/* panel */
.panel{
    margin-top: 10px;
    width: 800px;
    margin-bottom: 20px;
}

.panel > p{
    margin-top: 15px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    max-height: 500px;
    border: 3px solid #9c9c9c8c;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px 20px 20px;
    font-size: 2rem;
    color: rgb(83 83 83);
    flex-direction: column;
}

/* media */
@media (max-width: 768px) {
    .title {
        font-size: 1rem; /* Уменьшаем максимальную ширину для экранов шириной до 768 пикселей */
    }
    .panel{
        width: 90%; /* Уменьшаем ширину панели для экранов шириной до 768 пикселей */
        margin-left: auto;
        margin-right: auto;
        max-height: 200px;
        
    }
    .text{
        padding-bottom: 100px;
        text-align: left;
    }

    header{
        height: 70px;
    }

    .panel > p{
        font-size: 1.2rem; /* Уменьшаем размер шрифта текста в панели для экранов шириной до 768 пикселей */
        width: auto;
    }

    body{
        background: #ffffff;

    }
			
}
