/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* media */
@media screen and (max-width: 1200px) {   
    .text {
        font-size: 17.5px;
    }
}@media screen and (max-width: 998px) {   
    .text {
        font-size: 14.6px;
    }
}@media screen and (max-width: 768px) {   
    .text {
        font-size: 11.2px;
    }
}@media screen and (max-width: 576px) {   
    .text {
        font-size: 8.4px;
    }
}

/* all */
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* header */
header{
    text-align: center;
    background: #18ac69;
    width: 100%;
    height: 129px;
    border-bottom: 4px solid #26895c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.title{
    color: aliceblue;
}

/* footer */
footer{
    background-color: #202020;
    position:fixed;
    bottom:0px;
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    color:aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

/* panel */
.panel-group{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}



.text{
    color: #000000;
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.panel > p{
    padding-top: 5px;
    padding-left: 10px;
}

.bg-panel{
    margin-top: 20px;
    width: 90%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    height: 600px;
    border: 10px solid #cecece;
    border-radius: 20px;
}

/* media */
@media (max-width: 768px) {
    .title {
        font-size: 1.5rem; /* Уменьшаем максимальную ширину для экранов шириной до 768 пикселей */
    }
    .panel{
        max-height: 200px;
    }
    .bg-panel{
        background: #ffffff;
        border: #ffffff;
        padding-bottom: 100px;
    }

}